@import "tailwindcss";

body {
  font-family: var(--font-work-sans), sans-serif; /* Use the Google Sans font */
  background-color: #f9f9f9; /* Light background color */
}

.code-body {
  font-family: var(--font-dm-mono), monospace; /* Use the Google Sans font */
}
